@import "tailwindcss";

:root {
  color-scheme: light;
  --background: rgba(255, 255, 255, 1);
  --foreground: rgba(32, 37, 39, 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-manrope);
  --font-display: var(--font-figtree);
  --font-headline: var(--font-almarai);
  --font-serif: var(--font-instrument-serif);
}

html,
body {
  background-color: var(--background);
  color: var(--foreground);
}

body {
  font-family: var(--font-manrope), Arial, Helvetica, sans-serif;
}

.accordion-content-gsap[hidden] {
  display: block;
}
